openapi: 3.1.0
info:
  title: Quipu API v1
  version: 1.0.0
  description: |
    REST API for Quipu invoicing and accounting software. JSON API format.
    All requests require `Accept: application/vnd.quipu.v1+json` header,
    except `POST /oauth/token`, which is a plain OAuth2 endpoint and
    returns `application/json` (not JSON:API).

    ## Authentication
    All endpoints except `POST /oauth/token` require a valid OAuth2 Bearer
    token passed via the `Authorization` header.

    ### Obtaining an access token
    Tokens are issued via the OAuth2 **Client Credentials Grant**:

    ```
    POST /oauth/token
    Authorization: Basic <base64(client_id:client_secret)>
    Content-Type: application/x-www-form-urlencoded

    grant_type=client_credentials&scope=ecommerce
    ```

    - `client_id` / `client_secret`: your API credentials, sent via HTTP
      Basic Auth in the `Authorization` header (NOT as body parameters).
    - `grant_type` must be `client_credentials`.
    - `scope` must always be `ecommerce`. This is REQUIRED on every token
      request, even though you don't need to configure scopes manually
      when setting up your application. Omitting it returns a
      `400 invalid_scope` error.

    The response includes an `access_token` valid for 2 hours
    (`expires_in: 7200`). Use it as `Authorization: Bearer <access_token>`
    on all other API calls. See the `POST /oauth/token` operation below for
    the full request/response reference.

    ## Rate Limiting
    The API enforces a limit of **5 requests per 5 seconds**. Exceeding
    this limit will result in `429 Too Many Requests` responses.

    ## Format
    Request and response bodies follow the [JSON API](https://jsonapi.org/)
    specification.

    ## Pagination
    All list endpoints return paginated results. The response includes a
    `meta.pagination_info` object with `total_pages`, `current_page`, and
    `total_results`.
  x-logo:
    url: ./logo.png
    altText: Quipu
    href: https://getquipu.com
  contact:
    name: Quipu Integrations
    url: https://getquipu.com/es/integraciones
  termsOfService: https://getquipu.com/es/condiciones-de-uso

servers:
  - url: https://getquipu.com
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Obtaining OAuth2 access tokens via the Client Credentials Grant.
  - name: Users
    description: User account information
  - name: Contacts
    description: Clients and suppliers
  - name: Book Entries
    description: "Read-only listing of all book entries. The type filter accepts: invoices, paysheets, tickets, additional_incomes."
  - name: Invoices
    description: Full invoices (income and expenses)
  - name: Simplified Invoices
    description: Simplified invoices
  - name: Additional Incomes
    description: "Additional income entries (simplified income documents). Always outbound (income). These entries are not subject to Verifactu."
  - name: Paysheets
    description: "Employee paysheets. Note: For paysheets, issuing_* fields refer to the company (target) and recipient_* fields refer to the employee (origin), which is reversed from other book entry types."
  - name: Numbering Series
    description: Invoice numbering series configuration
  - name: Accounting Categories
    description: Read-only accounting categories
  - name: Accounting Subcategories
    description: Accounting subcategories
  - name: Attachments
    description: File attachments for book entries
  - name: Liquidations
    x-internal: true
    description: "Read-only. Only available for owners with a supported accounting-software integration enabled (Aplifisa integration only.)"
  - name: Money Accounts
    x-internal: true
    description: "Read-only. Only available for owners with a supported accounting-software integration enabled (Aplifisa integration only.)"
  - name: Money Entries
    x-internal: true
    description: "Read-only. Only available for owners with a supported accounting-software integration enabled (Aplifisa integration only.)"
  - name: Economic Activities
    x-internal: true
    description: "Read-only. Only available for owners with a supported accounting-software integration enabled (Aplifisa integration only.)"

paths:
  # ── Authentication ───────────────────────────────────────────────────────
  /oauth/token:
    post:
      operationId: createAccessToken
      summary: Generate access token
      description: |
        Exchanges API credentials for a Bearer access token using the
        OAuth2 Client Credentials Grant. Use the resulting `access_token`
        as `Authorization: Bearer <access_token>` on all other requests.
      tags: [Authentication]
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, scope]
              properties:
                grant_type:
                  type: string
                  const: client_credentials
                  description: Must be `client_credentials` (REQUIRED).
                scope:
                  type: string
                  const: ecommerce
                  description: >
                    Must always be `ecommerce` (REQUIRED on every token
                    request), even though scopes do not need to be
                    configured manually in your app settings. Omitting it
                    returns `400 invalid_scope`.
            example:
              grant_type: client_credentials
              scope: ecommerce
      responses:
        "200":
          description: Access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    const: Bearer
                  expires_in:
                    type: integer
                    example: 7200
                    description: Token lifetime in seconds.
                  scope:
                    type: string
                    example: ecommerce
                  created_at:
                    type: integer
                    description: Unix timestamp of issuance.
              example:
                access_token: "abc123..."
                token_type: Bearer
                expires_in: 7200
                scope: ecommerce
                created_at: 1719999999
        "400":
          description: >
            Invalid or missing scope/grant_type. Note: the response body's
            `status_code` field is always `401` regardless of this actual
            HTTP status code (see `OAuthErrorResponse`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthErrorResponse"
              example:
                error: invalid_scope
                error_description: The requested scope is invalid, unknown, or malformed.
                status_code: 401
        "401":
          description: Missing or invalid client credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthErrorResponse"
              example:
                error: invalid_client
                error_description: Client authentication failed.
                status_code: 401

  # ── Users ──────────────────────────────────────────────────────────────
  /users/{id}:
    get:
      operationId: getUser
      summary: Show user
      tags: [Users]
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        "200":
          description: User found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UserResource"
              example:
                data:
                  id: "42"
                  type: users
                  attributes:
                    email: user@example.com
                    name: Jane
                    surnames: Doe
                    locale: es
                    sign_up_draft_data: null
                    is_full_admin: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Contacts ───────────────────────────────────────────────────────────
  /{owner_slug}/contacts:
    get:
      operationId: listContacts
      summary: List contacts
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[kind]
          in: query
          schema:
            type: string
            enum: [client, supplier, employee]
          description: Filter by contact kind
        - name: filter[tax_id]
          in: query
          schema:
            type: string
          description: Filter by tax ID
        - name: filter[country]
          in: query
          schema:
            type: string
          description: Filter by country code (comma-separated for multiple)
        - name: filter[email]
          in: query
          schema:
            type: string
          description: Filter by email address
        - name: filter[q]
          in: query
          schema:
            type: string
          description: Free-text search across contact fields
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, total_paid_income, -total_paid_income, total_unpaid_income, -total_unpaid_income, total_paid_expenses, -total_paid_expenses, total_unpaid_expenses, -total_unpaid_expenses]
          description: Sort field (prefix with `-` for descending)
      responses:
        "200":
          description: Paginated list of contacts
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContactResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createContact
      summary: Create contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/ContactWritable"
            example:
              data:
                type: contacts
                attributes:
                  name: Acme Corp
                  tax_id: B12345678
                  email: billing@acme.com
                  country_code: ES
      responses:
        "201":
          description: Contact created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/contacts/{id}:
    get:
      operationId: getContact
      summary: Show contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Contact found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateContact
      summary: Update contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/ContactWritable"
      responses:
        "200":
          description: Contact updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteContact
      summary: Delete contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Contact deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/contacts/bulk:
    x-internal: true
    post:
      operationId: bulkSyncContacts
      summary: Bulk create/sync contacts
      description: >
        Only available for owners with a supported accounting-software integration enabled —
        returns 403 otherwise. (Aplifisa integration only.) Processes every item independently;
        a failure on one item does not affect the others. Maximum 500 items per request. After an
        `initial` sync, the owner's default income/expense/asset accounting categories are
        activated automatically (see `active` on `AccountingCategoryResource`).
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [sync_type, data]
              properties:
                sync_type:
                  type: string
                  enum: [initial, update]
                  description: >
                    `initial` always creates a new contact for each item, even when a contact
                    with the same tax_id already exists (no matching/upsert — safe to call
                    exactly once per client during setup). `update` upserts by tax_id: updates the
                    existing contact with that tax_id (the oldest one, if more than one somehow
                    shares it), or creates it if none exists yet. On `update`, a field already set
                    on the existing contact is left untouched — only blank fields are filled in.
                data:
                  type: array
                  maxItems: 500
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/ContactBulkItem"
              example:
                sync_type: initial
                data:
                  - attributes:
                      name: Acme Corp
                      tax_id: B12345678
                      country_code: ES
                  - attributes:
                      name: Wayne Enterprises
                      tax_id: B87654321
                      country_code: ES
      responses:
        "200":
          description: >
            Per-item results. Returned with 200 even when some items failed — check each item's
            `status`/`errors`.
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  sync_type:
                    type: string
                    enum: [initial, update]
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContactBulkResultItem"
              example:
                sync_type: initial
                results:
                  - tax_id: B12345678
                    id: "101"
                    status: created
                  - tax_id: B87654321
                    id: "102"
                    status: created
        "400":
          description: Malformed request — invalid `sync_type`, missing/empty `data`, or more than 500 items.
          content:
            application/vnd.quipu.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - detail: "data cannot contain more than 500 items"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Book Entries (read-only) ───────────────────────────────────────────
  /{owner_slug}/book_entries:
    get:
      operationId: listBookEntries
      summary: List all book entries
      description: |
        Returns a paginated list of all book entries including invoices,
        tickets, simplified invoices, additional income, and paysheets.
      tags: [Book Entries]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IncludeBookEntry"
        - name: with_detailed_amounts
          in: query
          schema:
            type: boolean
          description: >
            Include the `detailed_amounts` breakdown object in each entry. Presence of the
            parameter is enough — any value (including empty) enables it.
        - name: filter[type]
          in: query
          schema:
            type: string
            enum: [invoices, tickets, paysheets, additional_incomes]
          description: Filter by entry type
        - name: filter[kind]
          in: query
          schema:
            type: string
            enum: [expenses, income]
          description: Filter by kind (expenses or income)
        - name: filter[q]
          in: query
          schema:
            type: string
          description: Free-text search
        - name: filter[period]
          in: query
          schema:
            type: string
          description: Filter by period (e.g. "2024Q1", "2024-01")
        - name: filter[payment_status]
          in: query
          schema:
            type: string
            enum: [paid, unpaid, due, pending]
          description: "Filter by payment status. Note: `unpaid` includes both `pending` and overdue entries."
        - name: filter[contact_id]
          in: query
          schema:
            type: integer
          description: Filter by contact ID
        - name: filter[validation_status]
          in: query
          schema:
            type: string
          description: Filter by validation status
        - name: filter[field_query][field]
          in: query
          schema:
            type: string
          description: Field name for field-level query filter
        - name: filter[field_query][term]
          in: query
          schema:
            type: string
          description: Search term for field-level query filter
        - name: filter[economic_activity_id]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) ID. Accepts a numeric ID, or the sentinel
            values `none` (only entries with no economic activity assigned) or `any` (only
            entries with some economic activity assigned). Any other non-numeric value returns
            an empty result rather than an error.
            (Aplifisa integration only.)
        - name: filter[economic_activity_epigraph]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) code, e.g. `399`. Matches entries whose
            assigned economic activity has this epigraph, scoped to the owner's own economic
            activities.
            (Aplifisa integration only.)
        - name: sort
          in: query
          schema:
            type: string
            enum: [number, -number, issue_date, -issue_date, counterpart_name, -counterpart_name, total_amount, -total_amount, total_amount_without_taxes, -total_amount_without_taxes]
          description: Sort field (prefix with `-` for descending)
      responses:
        "200":
          description: Paginated list of book entries
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BookEntryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Invoices ───────────────────────────────────────────────────────────
  /{owner_slug}/invoices:
    get:
      operationId: listInvoices
      summary: List invoices
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IncludeInvoice"
        - name: filter[kind]
          in: query
          schema:
            type: string
            enum: [expenses, income]
          description: Filter by kind (expenses or income)
        - name: filter[q]
          in: query
          schema:
            type: string
          description: Free-text search
        - name: filter[period]
          in: query
          schema:
            type: string
          description: "Filter by period (e.g. \"2024Q1\", \"2024-01\")"
        - name: filter[payment_status]
          in: query
          schema:
            type: string
            enum: [paid, unpaid, due, pending]
          description: "Filter by payment status. Note: `unpaid` includes both `pending` and overdue entries."
        - name: filter[validation_status]
          in: query
          schema:
            type: string
          description: Filter by validation status
        - name: filter[contact_id]
          in: query
          schema:
            type: integer
          description: Filter by contact ID
        - name: filter[field_query][field]
          in: query
          schema:
            type: string
          description: Field name for field-level query filter
        - name: filter[field_query][term]
          in: query
          schema:
            type: string
          description: Search term for field-level query filter
        - name: filter[economic_activity_id]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) ID. Accepts a numeric ID, or the sentinel
            values `none` (only entries with no economic activity assigned) or `any` (only
            entries with some economic activity assigned). Any other non-numeric value returns
            an empty result rather than an error.
            (Aplifisa integration only.)
        - name: filter[economic_activity_epigraph]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) code, e.g. `399`. Matches entries whose
            assigned economic activity has this epigraph, scoped to the owner's own economic
            activities.
            (Aplifisa integration only.)
      responses:
        "200":
          description: Paginated list of invoices
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createInvoice
      summary: Create invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/InvoiceWritable"
            example:
              data:
                type: invoices
                attributes:
                  kind: income
                  issue_date: "2024-03-15"
                  paid_at: "2024-03-20"
                  payment_method: bank_transfer
                  tags: "consulting"
                  notes: March consulting services
                relationships:
                  contact:
                    data:
                      id: "101"
                      type: contacts
                  numeration:
                    data:
                      id: "5"
                      type: numbering_series
                  items:
                    data:
                      - type: items
                        attributes:
                          concept: Consulting services
                          unitary_amount: "1500.00"
                          quantity: 1
                          vat_percent: 21.0
                          retention_percent: 15.0
      responses:
        "201":
          description: Invoice created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvoiceResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/invoices/{id}:
    get:
      operationId: getInvoice
      summary: Show invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/IncludeInvoice"
      responses:
        "200":
          description: Invoice found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvoiceResource"
                  included:
                    type: array
                    description: Populated when `?include=` is used. Contains sideloaded resources.
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/ItemResource"
                        - $ref: "#/components/schemas/ContactResource"
                        - $ref: "#/components/schemas/AccountingCategoryResource"
                        - $ref: "#/components/schemas/AccountingSubcategoryResource"
                        - $ref: "#/components/schemas/LiquidationResource"
                        - $ref: "#/components/schemas/EconomicActivityResource"
              examples:
                bare:
                  summary: Without sideloading
                  value:
                    data:
                      id: "42"
                      type: invoices
                      attributes:
                        number: "F-2024-001"
                        issue_date: "2024-03-15"
                        total_amount: "1815.00"
                        tags: ""
                      relationships:
                        contact: { data: { id: "101", type: contacts } }
                        items: { data: [{ id: "501", type: items }] }
                withItems:
                  summary: With ?include=items
                  value:
                    data:
                      id: "42"
                      type: invoices
                      attributes:
                        number: "F-2024-001"
                        issue_date: "2024-03-15"
                        total_amount: "1815.00"
                      relationships:
                        items: { data: [{ id: "501", type: items }] }
                    included:
                      - id: "501"
                        type: items
                        attributes:
                          concept: Consulting services
                          unitary_amount: "1500.00"
                          quantity: 1
                          vat_percent: 21.0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateInvoice
      summary: Update invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/InvoiceWritable"
      responses:
        "200":
          description: Invoice updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvoiceResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteInvoice
      summary: Delete invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Invoice deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/invoices/{id}/download:
    get:
      operationId: downloadInvoicePdf
      summary: Download invoice PDF
      description: Returns the (outbound) invoice rendered as a PDF file.
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/invoices/{id}/ephemeral_open_download:
    get:
      operationId: ephemeralOpenDownloadInvoicePdf
      summary: Download invoice PDF via ephemeral open token
      description: >
        Returns the invoice rendered as a PDF file using a short-lived, token-authenticated
        link instead of a Bearer token (see `ephemeral_open_download_pdf_url` on the invoice
        resource). Does not require authentication.
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/ResourceId"
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Ephemeral open-download token issued alongside the document.
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Document not found, or the token is missing, invalid, or expired
          content:
            application/vnd.quipu.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Simplified Invoices ────────────────────────────────────────────────
  /{owner_slug}/simplified_invoices:
    get:
      operationId: listSimplifiedInvoices
      summary: List simplified invoices
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IncludeSimplifiedInvoice"
        - name: filter[economic_activity_id]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) ID. Accepts a numeric ID, or the sentinel
            values `none` (only entries with no economic activity assigned) or `any` (only
            entries with some economic activity assigned). Any other non-numeric value returns
            an empty result rather than an error.
            (Aplifisa integration only.)
        - name: filter[economic_activity_epigraph]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) code, e.g. `399`. Matches entries whose
            assigned economic activity has this epigraph, scoped to the owner's own economic
            activities.
            (Aplifisa integration only.)
      responses:
        "200":
          description: Paginated list of simplified invoices
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SimplifiedInvoiceResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createSimplifiedInvoice
      summary: Create simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/SimplifiedInvoiceWritable"
      responses:
        "201":
          description: Simplified invoice created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SimplifiedInvoiceResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/simplified_invoices/{id}:
    get:
      operationId: getSimplifiedInvoice
      summary: Show simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/IncludeSimplifiedInvoice"
      responses:
        "200":
          description: Simplified invoice found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SimplifiedInvoiceResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateSimplifiedInvoice
      summary: Update simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/SimplifiedInvoiceWritable"
      responses:
        "200":
          description: Simplified invoice updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SimplifiedInvoiceResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteSimplifiedInvoice
      summary: Delete simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Simplified invoice deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/simplified_invoices/{id}/download:
    get:
      operationId: downloadSimplifiedInvoicePdf
      summary: Download simplified invoice PDF
      description: Returns the simplified invoice rendered as a PDF file.
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/simplified_invoices/{id}/ephemeral_open_download:
    get:
      operationId: ephemeralOpenDownloadSimplifiedInvoicePdf
      summary: Download simplified invoice PDF via ephemeral open token
      description: >
        Returns the simplified invoice rendered as a PDF file using a short-lived,
        token-authenticated link instead of a Bearer token (see
        `ephemeral_open_download_pdf_url` on the simplified invoice resource). Does not
        require authentication.
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/ResourceId"
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Ephemeral open-download token issued alongside the document.
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Document not found, or the token is missing, invalid, or expired
          content:
            application/vnd.quipu.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Additional Incomes ─────────────────────────────────────────────────
  /{owner_slug}/additional_incomes:
    get:
      operationId: listAdditionalIncomes
      summary: List additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IncludeAdditionalIncome"
        - name: filter[economic_activity_id]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) ID. Accepts a numeric ID, or the sentinel
            values `none` (only entries with no economic activity assigned) or `any` (only
            entries with some economic activity assigned). Any other non-numeric value returns
            an empty result rather than an error.
            (Aplifisa integration only.)
        - name: filter[economic_activity_epigraph]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) code, e.g. `399`. Matches entries whose
            assigned economic activity has this epigraph, scoped to the owner's own economic
            activities.
            (Aplifisa integration only.)
      responses:
        "200":
          description: Paginated list of additional income
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdditionalIncomeResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createAdditionalIncome
      summary: Create additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AdditionalIncomeWritable"
      responses:
        "201":
          description: Additional income created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdditionalIncomeResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/additional_incomes/{id}:
    get:
      operationId: getAdditionalIncome
      summary: Show additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/IncludeAdditionalIncome"
      responses:
        "200":
          description: Additional income found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdditionalIncomeResource"
                  included:
                    type: array
                    description: Populated when `?include=` is used. Contains sideloaded resources.
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/ItemResource"
                        - $ref: "#/components/schemas/AccountingCategoryResource"
                        - $ref: "#/components/schemas/AccountingSubcategoryResource"
                        - $ref: "#/components/schemas/LiquidationResource"
                        - $ref: "#/components/schemas/EconomicActivityResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateAdditionalIncome
      summary: Update additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AdditionalIncomeWritable"
      responses:
        "200":
          description: Additional income updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdditionalIncomeResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteAdditionalIncome
      summary: Delete additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Additional income deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/additional_incomes/{id}/download:
    get:
      operationId: downloadAdditionalIncomePdf
      summary: Download additional income PDF
      description: >
        Additional incomes never generate or expose a PDF, so this always returns `404`.
        The route exists for parity with the other book entry types.
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/additional_incomes/{id}/ephemeral_open_download:
    get:
      operationId: ephemeralOpenDownloadAdditionalIncomePdf
      summary: Download additional income PDF via ephemeral open token
      description: >
        Additional incomes never generate or expose a PDF, so this always returns `404`.
        The route exists for parity with the other book entry types.
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/ResourceId"
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Ephemeral open-download token issued alongside the document.
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Always returned — additional incomes never generate a PDF
          content:
            application/vnd.quipu.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Paysheets ──────────────────────────────────────────────────────────
  /{owner_slug}/paysheets:
    get:
      operationId: listPaysheets
      summary: List paysheets
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/IncludePaysheet"
        - name: filter[economic_activity_id]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) ID. Accepts a numeric ID, or the sentinel
            values `none` (only entries with no economic activity assigned) or `any` (only
            entries with some economic activity assigned). Any other non-numeric value returns
            an empty result rather than an error.
            (Aplifisa integration only.)
        - name: filter[economic_activity_epigraph]
          in: query
          x-internal: true
          schema:
            type: string
          description: >
            Filter by economic activity (epígrafe) code, e.g. `399`. Matches entries whose
            assigned economic activity has this epigraph, scoped to the owner's own economic
            activities.
            (Aplifisa integration only.)
      responses:
        "200":
          description: Paginated list of paysheets
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaysheetResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createPaysheet
      summary: Create paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/PaysheetWritable"
            example:
              data:
                type: paysheets
                attributes:
                  kind: expenses
                  issue_date: "2024-03-31"
                  net_pay: "1800.00"
                  employee_ss_amount: "150.00"
                  employee_retention: "360.00"
                  company_ss_amount: "720.00"
                relationships:
                  contact:
                    data:
                      id: "55"
                      type: contacts
      responses:
        "201":
          description: Paysheet created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaysheetResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/paysheets/{id}:
    get:
      operationId: getPaysheet
      summary: Show paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/IncludePaysheet"
      responses:
        "200":
          description: Paysheet found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaysheetResource"
                  included:
                    type: array
                    description: Populated when `?include=` is used. Contains sideloaded resources.
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/ContactResource"
                        - $ref: "#/components/schemas/AccountingCategoryResource"
                        - $ref: "#/components/schemas/AccountingSubcategoryResource"
                        - $ref: "#/components/schemas/LiquidationResource"
                        - $ref: "#/components/schemas/EconomicActivityResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updatePaysheet
      summary: Update paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/PaysheetWritable"
      responses:
        "200":
          description: Paysheet updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaysheetResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deletePaysheet
      summary: Delete paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Paysheet deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Numbering Series ──────────────────────────────────────────────────
  /{owner_slug}/numbering_series:
    get:
      operationId: listNumberingSeries
      summary: List numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[applicable_to]
          in: query
          schema:
            type: string
            enum: [invoices, tickets, simplified_invoices, additional_incomes, paysheets]
          description: Filter by document type this series applies to.
        - name: filter[amending]
          in: query
          schema:
            type: boolean
          description: Filter by amending status
        - name: filter[prefix]
          in: query
          schema:
            type: string
          description: Filter by prefix
        - name: filter[applies_to]
          in: query
          schema:
            type: string
            enum: [new_documents, existing_documents]
          description: Filter by applies_to value
      responses:
        "200":
          description: Paginated list of numbering series
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NumberingSeriesResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createNumberingSeries
      summary: Create numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/NumberingSeriesCreateWritable"
            example:
              data:
                type: numbering_series
                attributes:
                  prefix: "INV-"
                  applicable_to: invoices
                  default: false
                  amending: false
                  applies_to: new_documents
      responses:
        "201":
          description: Numbering series created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NumberingSeriesResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/numbering_series/{id}:
    get:
      operationId: getNumberingSeries
      summary: Show numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Numbering series found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NumberingSeriesResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateNumberingSeries
      summary: Update numbering series
      description: "Update an existing numbering series. Note: prefix cannot be changed after creation."
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/NumberingSeriesUpdateWritable"
      responses:
        "200":
          description: Numbering series updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NumberingSeriesResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteNumberingSeries
      summary: Delete numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Numbering series deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Accounting Categories (read-only) ─────────────────────────────────
  /{owner_slug}/accounting_categories:
    get:
      operationId: listAccountingCategories
      summary: List accounting categories
      tags: [Accounting Categories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[id]
          in: query
          schema:
            type: string
          description: Filter by ID (comma-separated for multiple)
        - name: filter[kind]
          in: query
          schema:
            type: string
          description: |
            Filter by kind. Accepts a comma-separated list. Valid values:
            `expenses`, `income`, `assets`, `capital`, `creditor_debitor`, `financial`.
        - name: filter[prefix]
          in: query
          schema:
            type: string
          description: Filter by prefix (comma-separated for multiple)
        - name: filter[active]
          in: query
          schema:
            type: boolean
          description: Filter by active status (categories flagged active in the owner's preferences).
      responses:
        "200":
          description: Paginated list of accounting categories
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountingCategoryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/accounting_categories/{id}:
    get:
      operationId: getAccountingCategory
      summary: Show accounting category
      tags: [Accounting Categories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Accounting category found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingCategoryResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/accounting_categories/{id}/activate:
    x-internal: true
    patch:
      operationId: activateAccountingCategory
      summary: Activate an accounting category
      description: >
        Only available for owners with a supported accounting-software integration enabled —
        returns 403 otherwise. (Aplifisa integration only.) Marks the category as one of the
        owner's active accounts (see `active` on `AccountingCategoryResource`). Idempotent, and
        does not affect any other category.
      tags: [Accounting Categories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Accounting category activated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingCategoryResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Accounting Subcategories ──────────────────────────────────────────
  /{owner_slug}/accounting_subcategories:
    get:
      operationId: listAccountingSubcategories
      summary: List accounting subcategories
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[accounting_category_id]
          in: query
          schema:
            type: string
          description: Filter by accounting category ID (comma-separated for multiple)
      responses:
        "200":
          description: Paginated list of accounting subcategories
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountingSubcategoryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createAccountingSubcategory
      summary: Create accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AccountingSubcategoryWritable"
            example:
              data:
                type: accounting_subcategories
                attributes:
                  name: Office Supplies
                  suffix: "01"
                relationships:
                  accounting_category:
                    data:
                      id: "3"
                      type: accounting_categories
      responses:
        "201":
          description: Accounting subcategory created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingSubcategoryResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/accounting_subcategories/{id}:
    get:
      operationId: getAccountingSubcategory
      summary: Show accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Accounting subcategory found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingSubcategoryResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateAccountingSubcategory
      summary: Update accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AccountingSubcategoryUpdateWritable"
      responses:
        "200":
          description: Accounting subcategory updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingSubcategoryResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteAccountingSubcategory
      summary: Delete accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Accounting subcategory deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/accounting_subcategories/bulk:
    x-internal: true
    post:
      operationId: bulkSyncAccountingSubcategories
      summary: Bulk create/sync the chart of accounts (PGC)
      description: >
        Only available for owners with a supported accounting-software integration enabled —
        returns 403 otherwise. (Aplifisa integration only.) Processes every item independently;
        a failure on one item does not affect the others. Maximum 500 items per request. After an
        `initial` sync, the owner's default income/expense/asset accounting categories are
        activated automatically (see `active` on `AccountingCategoryResource`).
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [sync_type, data]
              properties:
                sync_type:
                  type: string
                  enum: [initial, update]
                  description: >
                    `initial` creates a subcategory for each item and overwrites the `description`
                    of one that already exists at that `account` code. `update` only creates
                    subcategories that don't exist yet — an item whose `account` already exists is
                    left untouched and reported as `skipped`.
                data:
                  type: array
                  maxItems: 500
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/AccountingSubcategoryBulkItem"
              example:
                sync_type: initial
                data:
                  - attributes:
                      account: "70501"
                      description: Ventas de mercaderías
      responses:
        "200":
          description: >
            Per-item results. Returned with 200 even when some items failed — check each item's
            `status`/`errors`.
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  sync_type:
                    type: string
                    enum: [initial, update]
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountingSubcategoryBulkResultItem"
              example:
                sync_type: initial
                results:
                  - account: "70501"
                    id: "301"
                    status: created
        "400":
          description: Malformed request — invalid `sync_type`, missing/empty `data`, or more than 500 items.
          content:
            application/vnd.quipu.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errors:
                  - detail: "data cannot contain more than 500 items"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Attachments ────────────────────────────────────────────────────────
  /{owner_slug}/attachments:
    post:
      operationId: createAttachment
      summary: Create attachment (file upload)
      description: Upload a file as a multipart form data request.
      tags: [Attachments]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, book_entry_id]
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                book_entry_id:
                  type: string
                  description: ID of the book entry to attach the file to (required)
      responses:
        "201":
          description: Attachment created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/attachments/{id}:
    get:
      operationId: getAttachment
      summary: Show attachment
      tags: [Attachments]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Attachment found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentResource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteAttachment
      summary: Delete attachment
      tags: [Attachments]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Attachment deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Liquidations (internal — Aplifisa integration only) ─────────────────
  /{owner_slug}/liquidations:
    x-internal: true
    get:
      operationId: listLiquidations
      summary: List liquidations
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Liquidations]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of liquidations
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LiquidationResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/liquidations/{id}:
    x-internal: true
    get:
      operationId: getLiquidation
      summary: Show liquidation
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Liquidations]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Liquidation found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/LiquidationResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Money Accounts (internal — Aplifisa integration only) ────────────────
  /{owner_slug}/money_accounts:
    x-internal: true
    get:
      operationId: listMoneyAccounts
      summary: List money accounts
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Money Accounts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of money accounts
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MoneyAccountResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/money_accounts/{id}:
    x-internal: true
    get:
      operationId: getMoneyAccount
      summary: Show money account
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Money Accounts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Money account found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MoneyAccountResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Money Entries (internal — Aplifisa integration only) ─────────────────
  /{owner_slug}/money_entries:
    x-internal: true
    get:
      operationId: listMoneyEntries
      summary: List money entries
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Money Entries]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[date][from]
          in: query
          schema:
            type: string
            format: date
          description: Filter entries with transaction_date on or after this date
        - name: filter[date][to]
          in: query
          schema:
            type: string
            format: date
          description: Filter entries with transaction_date on or before this date
      responses:
        "200":
          description: Paginated list of money entries
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MoneyEntryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/money_entries/{id}:
    x-internal: true
    get:
      operationId: getMoneyEntry
      summary: Show money entry
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Money Entries]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Money entry found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MoneyEntryResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Economic Activities (internal — Aplifisa integration only) ─────────
  /{owner_slug}/economic_activities:
    x-internal: true
    get:
      operationId: listEconomicActivities
      summary: List economic activities
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Economic Activities]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - name: filter[id]
          in: query
          schema:
            type: string
          description: Filter by ID (comma-separated for multiple)
        - name: filter[section]
          in: query
          schema:
            type: string
          description: Filter by section (1, 2 or 3 — comma-separated for multiple)
        - name: filter[name]
          in: query
          schema:
            type: string
          description: Case-insensitive partial match on the activity name
      responses:
        "200":
          description: List of economic activities
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EconomicActivityResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /{owner_slug}/economic_activities/{id}:
    x-internal: true
    get:
      operationId: getEconomicActivity
      summary: Show economic activity
      description: >
        Read-only. Only available for owners with a supported accounting-software integration
        enabled — returns 403 otherwise. (Aplifisa integration only.)
      tags: [Economic Activities]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Economic activity found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EconomicActivityResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

# ═════════════════════════════════════════════════════════════════════════
# Components
# ═════════════════════════════════════════════════════════════════════════
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: >
        OAuth2 Bearer token. Obtain it via `POST /oauth/token` (see the
        Authentication tag / `## Authentication` section above).
    basicAuth:
      type: http
      scheme: basic
      description: >
        HTTP Basic Auth with your API `client_id`/`client_secret`. Used only
        to request an access token via `POST /oauth/token`.

  # ── Parameters ─────────────────────────────────────────────────────────
  parameters:
    OwnerSlug:
      name: owner_slug
      in: path
      required: true
      schema:
        type: string
      description: URL slug of the account/business owner
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Resource ID
    AcceptHeader:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        const: application/vnd.quipu.v1+json
      description: Required API version accept header
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        const: application/vnd.quipu.v1+json
      description: Required content type for write operations
    PageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number (1-indexed)
    PageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: Number of results per page
    IncludeBookEntry:
      name: include
      in: query
      schema:
        type: string
      description: |
        Comma-separated list of related resources to embed in the `included`
        array (JSON:API sideloading). Allowed values: `items`, `contact`,
        `accounting_category`, `accounting_subcategory`.
        Example: `?include=items,contact`.
[...]
